@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&display=swap');

/* Colors */
:root {
  --primary-color: #7428a7;
  --secondary-color: #0284d0;
}

/* Text color */
.text-primary {
  color: var(--primary-color)
}

.text-secondary {
  color: var(--secondary-color)
}

.bold {
  font-weight: 600;
}

/* Buttons */
.btn {
  cursor: pointer;
  display: inline-block;
  padding: 10px 30px;
  background: var(--primary-color);
  color: #fff;
  border-radius: 20px;
  transition: all 0.25s;
  margin: 0 8px;
  border: none;
}

.btn:hover {
  box-shadow: inset 0 0 20px #d49bfa81, 0 0 25px #b038ffdc;
}

.btn-outline:hover{
  box-shadow: inset 0 0 20px #d49bfa81, 0 0 25px #e4bcffdc;
}

.btn-primary {
  background: var(--primary-color);
  color: #fff;
}

.btn-secondary {
  background: #0284d0;
  color: #fff;
}

.btn-light {
  color: #333;
  background-color: #fff;
}

.btn-outline {
  border: 2px solid #fff;
  background: rgba(0, 0, 0, 0);
  color: #fff;
  border-radius: 23px;
}

.btn-dark {
  background: #333;
  color: #fff;
}

.btn-square {
  border-radius: 10px;
}

.bg-light {
  background: #f4f4f4;
}

.bg-dark {
  background: #333;
  color: #fff;
}

.bg-primary {
  background: var(--primary-color);
  color: #fff;
}

.bg-primary-gradient {
  background: linear-gradient( rgb(199, 56, 235), var(--primary-color));
  color: #fff;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
}

.card {
  padding: 5px 0;
  display: flex;
  flex-direction: column;
}

.card .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient( rgb(199, 56, 235), var(--primary-color));
  text-align: center;
  height: 64px;
  width: 64px;
  padding: 15px;
  color: #f4f4f4;
  border-radius: 100%;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card h3 {
  margin-bottom: 10px;
  font-weight: 400;
}

.small-card {
  display: flex;
  align-items: center;
  width: 100%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.07);
  background: #f6f6f6;
  padding: 23px 30px;
  border-radius: 15px;
  transition: 250ms all ease-in-out;
  cursor: pointer;
  color: #333;
}

.small-card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.03);
}

.small-card img{
  width: 20%;
  margin-right: 20px;

  filter: brightness(80%);
  -webkit-filter: brightness(80%);
}

.flex-columns {
  display: flex;
}

.flex-columns .row{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.flex-reverse .row{
  flex-direction: row-reverse;
}

.flex-columns .column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.flex-columns .column-1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.flex-columns .column-1,
.flex-columns .column-2 {
  height: 100%;
}

.flex-columns .column-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 30px;
}

.flex-columns h4 {
  margin-bottom: 10px;
}

.flex-columns h2 {
  font-size: 40px;
  font-weight: 100;
}

.flex-columns p {
  margin: 20px 0;
  max-width: 80%;
}

.flex-columns .btn {
  margin: 0;
}


